@import url('./reset.css');

.go-back {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 2rem;
  border: 5px solid black;
  color: green;
  margin-bottom: 1rem;
}

.go-back:hover {
  color: #ff6b0a;
}
